# API
PORT=3333
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/academia_platform?schema=public"
JWT_SECRET="troque-por-um-segredo-longo"
CPF_HASH_SECRET="troque-por-um-segredo-para-cpf"
CORS_ORIGIN="http://localhost:3000,http://localhost:3001,http://localhost:3002"
STORAGE_PROVIDER="local"
STORAGE_BUCKET="students"

# Web
NEXT_PUBLIC_API_URL="http://localhost:3333"
NEXT_PUBLIC_APP_NAME="Studio Fit"
NEXT_PUBLIC_APP_INITIALS="SF"
NEXT_PUBLIC_APP_ADMIN_SUBTITLE="Gestao administrativa"
NEXT_PUBLIC_APP_STUDENT_SUBTITLE="Area do aluno"

# Mobile
EXPO_PUBLIC_API_URL="http://localhost:3333"
